<div class="container">
  <div class="jumbotron">
  	<div class="container">
  		<h2>Posts:</h2>
  	</div>
  </div>

  <table class="table table-striped">
    <tr>
      <th class="col-md-1">#</th>
      <th class="col-md-2">Name</th>
      <th class="col-md-2">Content</th>
      <th class="col-md-1">Edit</th>
      <th class="col-md-1">Delete</th>
    </tr>
  	<% @posts.each do |post| %>
      <tr>
      	<td class="col-md-1">
          <%= post.id %>
      	</td>
        <td class="col-md-2">
          <%= link_to post.title, post_path(post) %>
        </td>
        <td class="col-md-2">
          <%= post.content %>
        </td>
        <td class="col-md-1">
          <%= link_to edit_post_path(post) do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
        </td>
        <td>
          <%= link_to post, :confirm => "Are you sure?", :method => :delete do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>    	
      </tr>
  	<% end %>
  </table>
  <p><%= link_to "Add new post",new_post_path, class: 'btn btn-primary' %></p>
</div>